@use 'styles/_variables/' as colors;
@use 'styles/_mixins' as mixins;

.banner {
  @include mixins.flex(space-between);
  height: 600px;
  background-color: colors.$primary-dark;
  overflow: hidden;

  .banner-left {
    @include mixins.flex(center, flex-start, column);
    z-index: 9999;
    width: max-content;

    .banner-title {
      color: colors.$white;
      width: 500px;
      font-weight: bold;
      font-size: 3em;
      line-height: 60px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .banner-paragraph {
      color: colors.$white;
      width: 400px;
      font-size: 1.2em;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    @media screen and (max-width:768px){
      padding: 1rem;
    }
  }

  .banner-right {
    height: inherit;
    width: 50%;
    right: 0;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 450px;
      width: 200px;
      height: 200px;
      background-color: colors.$primary-dark;
      transform: rotate(45deg) translate(-250px, 530px) scale(2.2);

      @media screen and (max-width:1125px){
        & {
          display: none;
        }
      }
    }
    
    .banner-img {
      height: inherit;
      width: 100%;
      object-fit: cover;
      object-position: center;

      @media screen and (max-width:1200px){
        object-position: right;
      }
    }

    @media screen and (max-width:992px){
      display: none;
    }
  }
}