.why-product-zalla {
  margin-top: 3rem;
  text-align: center;

  .image {
    margin-top: 2rem;
  }

  .why-content {
    margin-top: 2rem;
    text-align: left;

    .why-title {
      text-align: center;
    }

    .why-item-wrap{
      margin-bottom: 2rem;
    }

    .why-logo {
      align-items: center;
    }
  }
}