@use 'styles/_variables/' as colors ;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;

  .navbar-link {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &.link-landing {
      display: flex;
      justify-content: space-between;
      width: 50%;
      font-weight: 500;

      @media screen and (max-width:768px){
        display: none;
      }

      li {
        position: relative;

        &:hover::before {
          transform: scale(1);
          transition: .3s;
        }
        
        &:hover span {
          color: colors.$primary-dark;
        }

        &::before {
          content: "";
          transform: scale(0);
          height: 2px;
          top: -10px;
          left: 0; 
          right: 0;
          background-color: colors.$primary-dark;
          position: absolute;
        }
      }
    }
    
  }

  &.navbar-landing {
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:768px){
      justify-content: flex-end;
      padding: 1rem;
    }

    .btn-group {
      display: flex;

      @media screen and (max-width:768px){
        display: none;
      }
    }
  }

  
}