.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-link {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &.link-landing {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
  }

  &.navbar-landing {
    justify-content: space-around;
    align-items: center;

    .btn-group {
      display: flex;
    }
  }
}